* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
};

body {
  color: #333;
}

svg .voronoi {
  fill: none;
  stroke: #1cadcf;
}

svg .hexgrid {
  stroke: gray;
  stroke-width: 0.25px;
}

svg polygon {
  fill: lightgray;
}

svg polygon.country {
  fill: currentColor;
  fill-opacity: 0.7;
  stroke: currentColor;
  stroke-opacity: 0.7;
  stroke-width: 3px;
  pointer-events: all;
}

svg polygon.country.selected {
  color: red;
}

svg polygon.country.nearby {
  color: green;
  -webkit-animation: pulsate 1s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes pulsate {
  0%   { opacity: 0.7; }
  100% { opacity: 1.0; }
}

.PRGn .q0-4{fill:rgb(123,50,148)} .PRGn .q1-4{fill:rgb(194,165,207)} .PRGn .q2-4{fill:rgb(166,219,160)} .PRGn .q3-4{fill:rgb(0,136,55)}
