* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
};

body {
  color: #333;
}

svg {
}

svg line {
  stroke: red;
}

svg .voronoi {
  fill: none;
  stroke: #1cadcf;
}

svg .delaunay {
  fill: none;
  stroke: red;
}

svg polygon {
  fill: lightgray;
}

svg polygon.hexagon {
  stroke: gray;
  stroke-width: 0.25px;
}

svg polygon.cell {
  fill: currentColor;
  fill-opacity: 0.5;
  stroke: currentColor;
  stroke-opacity: 0.7;
  stroke-width: 3px;
  pointer-events: all;
}

svg polygon.cell.selected {
  color: red;
}

svg polygon.cell.nearby {
  color: green;
  -webkit-animation: pulsate 1s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes pulsate {
  0%   { opacity: 0.5; }
  100% { opacity: 1.0; }
}

.PiYG .q0-9{color:rgb(197,27,125)} .PiYG .q1-9{color:rgb(222,119,174)} .PiYG .q2-9{color:rgb(241,182,218)} .PiYG .q3-9{color:rgb(253,224,239)} .PiYG .q4-9{color:rgb(247,247,247)} .PiYG .q5-9{color:rgb(230,245,208)} .PiYG .q6-9{color:rgb(184,225,134)} .PiYG .q7-9{color:rgb(127,188,65)} .PiYG .q8-9{color:rgb(77,146,33)}
