* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
};

body {
  color: #333;
}

.container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
}

svg .voronoi {
  fill: none;
  stroke: #1cadcf;
}

svg .hexgrid {
  stroke: gray;
  stroke-width: 0.25px;
}

svg polygon {
  fill: white;
}

svg polygon.country {
  fill: currentColor;
  fill-opacity: 0.7;
  stroke: currentColor;
  stroke-opacity: 1.0;
  stroke-width: 3px;
  pointer-events: all;
}

svg polygon.country.selected {
  color: red;
}

svg polygon.country.nearby {
  color: green;
  -webkit-animation: pulsate 1s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes pulsate {
  0%   { opacity: 0.7; }
  100% { opacity: 1.0; }
}

.players {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

.players li {
  display: inline-block;
  margin-right: 1em;
}

.players li:before {
  content: "\265e";
  margin-right: 0.25em;
}

.player-0 { color: rgb(228,26,28); }
.player-1 { color: rgb(55,126,184); }
.player-2 { color: rgb(77,175,74); }
.player-3 { color: rgb(152,78,163); }
.player-4 { color: rgb(255,127,0); }
