.players {
  font-weight: 700;
  letter-spacing: 0 !important;
  margin: 0 0 1rem 0;
  text-align: center;

  li {
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &.selected {
      background-color: currentColor;
      span { color: black; }
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
