.players {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 1rem;
    opacity: 0.7;

    &:before {
      content: "\265e";
      margin-right: 0.25rem;
    }

    &.selected {
      opacity: 1.0;
    }
  }
}

.controls {
}
