.player-0 { color: rgb(228, 26, 28); }
.player-1 { color: rgb(55, 126, 184); }
.player-2 { color: rgb(77, 175, 74); }
.player-3 { color: rgb(152, 78, 163); }
.player-4 { color: rgb(255, 127, 0); }

svg {
  // TODO: Move to the containing element.
  color: #979797;
  border: 4px solid;
  border-radius: 8px;

  .voronoi {
    fill: none;
    stroke: #1cadcf;
  }

  .hexgrid polygon {
    fill: #404040;
    stroke: #333;
    stroke-width: 1px;
  }

  .world polygon {
    &.country {
      fill: currentColor;
      fill-opacity: 0.6;
      stroke: currentColor;
      stroke-opacity: 0.8;
      stroke-width: 3px;
      pointer-events: all;

      &.selected {
        fill-opacity: 0.8;
        stroke-opacity: 1.0;
      }

      &.nearby {
        -webkit-animation: pulsate 1.0s ease-in-out 0s infinite alternate;
      }
    }

    &.slot {
      fill: currentColor;
      fill-opacity: 0.6;
      stroke: currentColor;
      stroke-opacity: 0.4;
      stroke-width: 1px;
      pointer-events: none;

      &.selected {
        color: white;
      }
    }
  }
}
