@import "./animations";
@import "./controls";
@import "./game";
@import "./type";

* {
  touch-callout: none;
  user-select: none;
}

html {
  color: #666;
}

body {
  background-color: #333;
  align-items: center;
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
}
