$bg_color_1: #61eafa;
$bg_color_2: #f76b1c;

@import "./animations";
@import "./buttons";
@import "./controls";
@import "./game";
@import "./modal";
@import "./type";

* {
  touch-callout: none;
  user-select: none;
}

html {
  color: white;
}

body {
  background-image: linear-gradient(to bottom, $bg_color_1, $bg_color_2);
  align-items: center;
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.center {
  text-align: center;
}

.row {
  display: flex;
}

.align-self-center {
  align-self: center !important;
}
