body {
  background: white;
  color: #333;
}

svg {
}

svg line {
  stroke: red;
}

svg path {
  fill: none;
  stroke: #1cadcf;
}

svg polygon {
  fill: lightgray;
}

svg polygon.hexagon {
  stroke: gray;
  stroke-width: 0.25px;
}

svg polygon.cell {
  opacity: 0.3;
  stroke: black;
  stroke-width: 2px;
  pointer-events: all;
}

svg polygon.cell:hover {
  fill: coral;
}

svg polygon.cell.selected {
  fill: red;
  transition: fill .2s ease-in-out;
}

svg polygon.cell.neighbour {
  opacity: 0.5;
  stroke: none;
  fill: black;
  pointer-events: none;
}

.q0-9{fill:rgb(247,252,240)}
.q1-9{fill:rgb(224,243,219)}
.q2-9{fill:rgb(204,235,197)}
.q3-9{fill:rgb(168,221,181)}
.q4-9{fill:rgb(123,204,196)}
.q5-9{fill:rgb(78,179,211)}
.q6-9{fill:rgb(43,140,190)}
.q7-9{fill:rgb(8,104,172)}
.q8-9{fill:rgb(8,64,129)}
