body {
  background: white;
  color: #333;
}

svg {
  border: 1px solid;
}

svg polygon {
  fill: lightgray;
  stroke: gray;
  stroke-width: 0.25px;
}

svg polygon.hexagon:hover {
  fill: gray;
}

svg polygon.hexagon.selected {
  fill: #1cadcf;
  transition: fill .5s ease-in-out;
}

svg polygon.cell {
  fill: none;
  stroke: #1cadcf;
  stroke-width: 2px;
}
