body {
  background: white;
  color: #333;
}

svg {
  border: 1px solid;
}

svg polygon.hexagon {
  fill: lightgray;
  stroke: gray;
  stroke-width: 0.25px;
}

svg polygon.cell {
  opacity: 0.3;
  fill: none;
  stroke: #1cadcf;
  stroke-width: 2px;
  pointer-events: all;
}

svg polygon.cell:hover {
  fill: gray;
}

svg polygon.cell.selected {
  fill: #1cadcf;
  transition: fill .2s ease-in-out;
}
