body {
  background: white;
}

svg {
  border: 1px solid;
}

svg polygon {
  fill: lightgray;
  stroke: black;
  stroke-width: 0.25px;
}

svg polygon:hover {
  fill: gray;
}

svg polygon.selected {
  fill: green;
  transition: fill .5s ease-in-out;
}
