@-webkit-keyframes pulsate {
  0%   { fill-opacity: 0.6; }
  100% { fill-opacity: 0.8; }
}

@keyframes zoom-in {
	0%   { transform: scale(0, 0); opacity: 0; }
	50%  { transform: scale(1, 1); }
	100% { opacity: 1; }
}
