.players {
  font-weight: 700;
  letter-spacing: 0 !important;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;

  li {
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
    transition: box-shadow 0.1s ease-in-out;
    background-color: currentColor;

    span { color: white; }

    &.selected {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
