$blue: rgb(55, 126, 184);
$red: rgb(228, 26, 28);
$green: rgb(77, 175, 74);
$purple: rgb(152, 78, 163);
$orange: rgb(255, 127, 0);

.player-0 { color: $blue; }
.player-1 { color: $red; }
.player-2 { color: $green; }
.player-3 { color: $purple; }
.player-4 { color: $orange; }

svg {
  // TODO: Move to the containing element.
  color: #979797;
  border: 1px solid white;
  border-radius: 8px;

  .voronoi {
    fill: none;
    stroke: #1cadcf;
  }

  .hexgrid polygon {
    fill: #404040;
    stroke: #333;
    stroke-width: 1px;
  }

  .world polygon {
    &.country {
      fill: currentColor;
      fill-opacity: 0.6;
      stroke: currentColor;
      stroke-opacity: 0.8;
      stroke-width: 3px;
      cursor: pointer;
      pointer-events: all;

      &.selected {
        fill-opacity: 0.8;

        &.player-0 { stroke: lighten(saturate($blue,   80%), 20%); }
        &.player-1 { stroke: lighten(saturate($red,    80%), 20%); }
        &.player-2 { stroke: lighten(saturate($green,  80%), 20%); }
        &.player-3 { stroke: lighten(saturate($purple, 80%), 20%); }
        &.player-4 { stroke: lighten(saturate($orange, 80%), 20%); }
      }

      &.nearby {
        -webkit-animation: pulsate 1.0s ease-in-out 0s infinite alternate;
      }
    }

    &.slot {
      fill: currentColor;
      fill-opacity: 0.6;
      stroke: currentColor;
      stroke-opacity: 0.4;
      stroke-width: 1px;
      pointer-events: none;

      &.selected {
        color: white;
      }
    }
  }
}

.game {
  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    font-size: 2rem;
  }
}
