$bg_color_1: #00d6ff;
$bg_color_2: #a75810;

@import "./animations";
@import "./buttons";
@import "./controls";
@import "./game";
@import "./modal";
@import "./type";

* {
  touch-callout: none;
  user-select: none;
}

body {
  color: white;
  background-image: linear-gradient(to bottom, $bg_color_1, $bg_color_2);
  align-items: center;
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  width: 600px;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

.row {
  display: flex;
}

.align-self-center {
  align-self: center !important;
}
